@model System.Collections.Generic.IEnumerable<HapiWifi.Core.Models.Company>
@using HapiWifi.Core.Models

@{
    ViewBag.Title = "Home Page";
}

<!-- START CAROUSEL-->
<div class="row carousel-holder"  style="margin-bottom:20px;">
    <div class="col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                </div>
                <div class="item">
                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
<!-- END CAROUSEL-->

<!-- START data list-->
<div class="row">

    @foreach (var c in Model)
    {
        <div class="col-sm-6 col-lg-3 col-md-3 hero-feature display-modal" data-title="@c.Name" data-image="@c.LogoImagePath" data-location="" data-contact="" data-caption="@c.TagLine" data-website="@c.Website">
            <div class="thumbnail">
                <img src="http://placehold.it/800x500" alt="">
                <div class="caption text-center">
                    <h3>@c.Name</h3>
                    <p>@c.Description</p>
                    <p>
                        <a href="#" class="btn btn-primary">Website</a> <a href="#" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
<!-- end data list-->

<!-- START Modal-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header alert alert-grey">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Company Name</h4>
            </div>
            <div class="modal-body">
                <div class="thumbnail">
                    <img id="company-logo" src="logo/woodcraft.jpg">
                </div>
                <p><strong>Tagline: </strong><span id="company-location">Code as fuck</span></p>
                <p><strong>Description: </strong><br><span id="company-caption">A company that provides pleasure.</span></p>
            </div>
            <div class="modal-footer">
                <!--<a id="company-website" type="button" class="btn btn-success" href="sms:"><span class="glyphicon glyphicon-phone"></span> Text</a>-->
                <a id="company-website" type="button" class="btn btn-warning" href="mailto:"><span class="glyphicon glyphicon-envelope"></span> Email</a>
                <a id="company-website" type="button" class="btn btn-success" href="tel:"><span class="glyphicon glyphicon-earphone"></span> Call</a>
                <a id="company-website" type="button" class="btn btn-info" href=""><span class="glyphicon glyphicon-globe"></span> Page</a>
            </div>
        </div>
    </div>
</div>
<!-- END Modal-->



@section scripts{
    <script>
    //$(document).ready(function () {
    //    $('.display-modal').click(function () {
    //        $('#myModalLabel').text($(this).attr('data-title'));
    //        $('#company-location').text($(this).attr('data-location'));
    //        $('#company-contact').text($(this).attr('data-contact'));
    //        console.log($(this).attr('data-caption'));
    //        $('#company-caption').text($(this).attr('data-caption'));

    //        var logo = document.getElementById('company-logo');
    //        var website = document.getElementById('company-website');

    //        logo.setAttribute('src',$(this).attr('data-image'));
    //        website.setAttribute('href',$(this).attr('data-website'));
    //        $('#myModal').modal('show');

    //    });
    //});
</script>    
}






