@model System.Collections.Generic.IEnumerable<HapiWifi.Core.Models.Company>
@using HapiWifi.Core.Models

@{
    ViewBag.Title = "Partners";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Partners</h2>

<div class="row">
    <div id="main" class="col-xs-12 col-sm-12  col-md-12" style="">
        <!--Ateneo Main Logo with Happy Wifi-->
    </div>
    <div id="ads" class="col-xs-12 col-sm-12  col-md-12">
        <div id="ads_body">
            @foreach (var i in Model)
            {
                <div id="item-" +i class="col-xs-1 col-sm-2  col-md-2 item display-modal" data-title="@i.Name" data-image="@i.PicLogo" data-location="" data-contact="" data-caption="@i.TagLine" data-website="@i.Website">
                    <img id="pic-" +i class="pic" src="@i.PicLogo" alt="acom" style="height:50px;width:50px;">
                </div>
            }
        </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header alert alert-grey">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Company Name</h4>
                </div>
                <div class="modal-body">
                    <div class="thumbnail">
                        <img id="company-logo" src="logo/woodcraft.jpg">
                    </div>
                    <p><strong>Tagline: </strong><span id="company-location">Code as fuck</span></p>
                    <p><strong>Description: </strong><br><span id="company-caption">A company that provides pleasure.</span></p>
                </div>
                <div class="modal-footer">
                    <!--<a id="company-website" type="button" class="btn btn-success" href="sms:"><span class="glyphicon glyphicon-phone"></span> Text</a>-->
                    <a id="company-website" type="button" class="btn btn-warning" href="mailto:"><span class="glyphicon glyphicon-envelope"></span> Email</a>
                    <a id="company-website" type="button" class="btn btn-success" href="tel:"><span class="glyphicon glyphicon-earphone"></span> Call</a>
                    <a id="company-website" type="button" class="btn btn-info" href=""><span class="glyphicon glyphicon-globe"></span> Page</a>
                </div>
            </div>
        </div>
    </div>

</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script>
        $(document).ready(function () {
            $('.display-modal').click(function () {
                /*
                $('#myModalLabel').text($(this).attr('data-title'));
                $('#company-location').text($(this).attr('data-location'));
                $('#company-contact').text($(this).attr('data-contact'));
                $('#company-caption').text($(this).attr('data-caption'));

                var logo = document.getElementById('company-logo');
                var website = document.getElementById('company-website');

                logo.setAttribute('src',$(this).attr('data-image'));
                website.setAttribute('href',$(this).attr('data-website'));
                */
                $('#myModal').modal('show');

            });
        });
</script>