@model IEnumerable<HapiWifi.Core.Models.Partnership>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.companyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.partnerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.partnerOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isShow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isFeatured)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.companyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.partnerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.partnerOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isShow)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isFeatured)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
